version: 2
registries:
    npm-github:
        type: npm-registry
        url: https://npm.pkg.github.com
        token: ${{ secrets.READER_TOKEN }}
        replaces-base: true
updates:
    # Basic set up for package managers.
    # Maintain GitHub Actions dependencies
    - package-ecosystem: 'github-actions'
      # Workflow files stored in the default location of `.github/workflows`.
      # Don't need to specify `/.github/workflows`, just use `directory: "/"`.
      directory: '/'
      schedule:
          interval: 'weekly'
          # Check for GitHub Actions updates on Thursdays.
          day: 'thursday'
          time: '08:30'
          timezone: 'Europe/Oslo'
      cooldown:
          default-days: 7
      commit-message:
          prefix: '[github-actions] '
    # Maintain npm dependencies
    - package-ecosystem: 'npm'
      directory: '/'
      schedule:
          interval: 'daily'
          time: '08:45'
          timezone: 'Europe/Oslo'
      cooldown:
          default-days: 7
      commit-message:
          prefix: '[npm] '
      groups:
          nav-designsystem:
              patterns:
                  - '@navikt/aksel*'
                  - '@navikt/ds*'
              update-types:
                  - 'patch'
          react:
              patterns:
                  - 'react'
                  - 'react-dom'
              update-types:
                  - 'patch'
          tailwind-packages:
              patterns:
                  - 'tailwindcss'
                  - '@tailwindcss/*'
              update-types:
                  - 'patch'
          # Name of group that also appears in the PR subject
          all-patch-updates:
              update-types:
                  - 'patch'
      # Ensures that package.json is updated along with the lockfile
      versioning-strategy: increase
      open-pull-requests-limit: 15
      registries:
          - npm-github
    - package-ecosystem: 'docker'
      directory: '/'
      schedule:
          interval: 'weekly'
          day: 'thursday'
          time: '06:00'
          timezone: 'Europe/Oslo'
      cooldown:
          default-days: 7
      commit-message:
          prefix: '[docker] '
